<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Kotlin by Example: {{title}}</title>
		<link rel=stylesheet href="/kotlinbyexample/site.css">
	</head>
	<body>
		<div class="example">
			<h2><a href="/kotlinbyexample">Kotlin by Example</a>: {{title}}</h2>

			<table>
				{% for row in code %}
				<tr>
					<td class="docs">
						{{row[0]}}
					</td>
					{% if row[1]|length > 0 %}
					<td class="code">
						<pre><code>{% for line in row[1] %}<span class="line"><span class="cl">{{line}}</span></span>
{% endfor %}</code></pre>
					{% else %}
					<td class="code empty"></td>
					{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>

			<table>
				{% for row in script %}
				<tr>
					<td class="docs">
						{{row[0]}}
					</td>
					<td class="code">
						<pre><code>{% for line in row[1] %}<span class="line"><span class="cl">{{line}}</span></span>
{% endfor %}</code></pre>
					</td>
				</tr>
				{% endfor %}
			</table>

			<p class="footer">by <a href="https://rubenvannieuwpoort.nl">Ruben van Nieuwpoort</a>, based on <a href="https://gobyexample.com">Go by Example</a> by <a href="https://markmcgranaghan.com">Mark McGranaghan</a> and <a href="https://eli.thegreenplace.net">Eli Bendersky</a> | TODO(Ruben): add link to source and license</p>
		</div>
	</body>
</html>
