
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Kotlin by Example</title>
		<link rel=stylesheet href="/kotlinbyexample/site.css">
	</head>
	<body>
		<div id="intro">
			{{body}}
			<ul>
				{% for link in links %}
				<li><a href="{{link[1]}}">{{link[0]}}</a></li>
				{% endfor %}
			</ul>

			<p class="footer">by <a href="https://rubenvannieuwpoort.nl">Ruben van Nieuwpoort</a> | <a href="https://github.com/rubenvannieuwpoort/site/blob/master/src/kotlinbyexample">source</a> | <a href="https://creativecommons.org/licenses/by/3.0/">license</a><br/>based on <a href="https://gobyexample.com">Go by Example</a> by <a href="https://markmcgranaghan.com">Mark McGranaghan</a> and <a href="https://eli.thegreenplace.net">Eli Bendersky</a></p>
		</div>
	</body>
</html>
