<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="description" content="{{front_matter.description}}">
		<title>{{front_matter.title}}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="katex.min.css">
		<link rel="shortcut icon" type="image/png" href="../favicon.png">
    </head>
	<body>
		<main>
			<article>
<h1>{{front_matter.title}}</h1>

{{body}}
			</article>
		</main>
	</body>
</html>
